In [22]:
import pandas as pd

In [ ]:
import numpy as np
import rpy2.robjects.numpy2ri
from rpy2.robjects.packages import importr
rpy2.robjects.numpy2ri.activate()
stats = importr('stats')

In [4]:
metadata = pd.read_csv('C:\\Users\\nphda\\OneDrive\\Desktop\\Data Mining\\Jackson-and-Anh-Data-Mining-Assingment-4\\data\\GSE185948_metadata_RNA.csv')
cluster = pd.read_csv('C:\\Users\\nphda\\OneDrive\\Desktop\\Data Mining\\Jackson-and-Anh-Data-Mining-Assingment-4\\data\\rna_transpose_kmean.csv', index_col=0)
col_name = pd.read_csv('C:\\Users\\nphda\\OneDrive\\Desktop\\Data Mining\\Jackson-and-Anh-Data-Mining-Assingment-4\\data\\col_names.csv', index_col=0)
col_name = col_name.rename(columns={col_name.columns[0]: "name" })
cluster = cluster.rename(dict(zip(cluster.index, col_name['name'])))
cluster = cluster.reset_index()
meta_df = pd.merge(cluster, metadata, left_on='index', right_on='name', how='left').drop('name', axis=1)
meta_df_demo = meta_df[['cluster', 'gender', 'disease']]

# Summary

In [5]:
meta_df_demo.describe(include=['object']).T

          count unique     top   freq
gender   102710      2  female  51792
disease  102710      2     PKD  62073

In [6]:
meta_df_demo.groupby('cluster').describe(include=['object']).T

cluster               0       1
gender  count     29973   72737
        unique        2       2
        top        male  female
        freq      22919   44738
disease count     29973   72737
        unique        2       2
        top     control     PKD
        freq      19020   51120

In [12]:
meta_df_demo.groupby(['gender']).count()

        cluster  disease
gender
female    51792    51792
male      50918    50918

In [41]:
pd.crosstab([meta_df_demo['disease'],meta_df_demo['gender']], meta_df_demo['cluster'])
#.to_latex()

cluster             0      1
disease gender
PKD     female   4533  32790
        male     6420  18330
control female   2521  11948
        male    16499   9669

In [35]:
m = pd.crosstab(meta_df_demo['disease'], meta_df_demo['cluster']).to_numpy()

In [37]:
m = pd.crosstab(meta_df_demo['gender'], meta_df_demo['cluster']).to_numpy()

In [43]:
res = stats.fisher_test(m)
print('p-value: {}'.format(res[0][0]))

p-value: 0.0

In [15]:
meta_df_demo.groupby(['disease','gender']).count().reset_index()

   disease  gender  cluster
0      PKD  female    37323
1      PKD    male    24750
2  control  female    14469
3  control    male    26168

# Chi-squared test

# Over-representation analysis